html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
    margin:0px 0px;
    background-color: #fcfcfc;
}

p,h1,h2{
    color:#121212;
}

h3{
    color:#828282;
}

/*Navbar*/

#logo-title i{
    font-size:20px;
    margin-right:5px;}

#nav-links{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    width:500px;
    align-items: center;
}
#nav-links a{
    text-decoration:none;
    color:black;
    font-weight:500;
    font-size:13px;
    transition: font-weight 1s, transform 1s, color 1s;
}

#nav-links a:hover{
    font-weight:700;
    transform:scale(1.05);
    color:#1EA3DC;
}

#nav-links .menu-icon{
    display:none;
}

i{
    text-decoration:none;
    color:rgb(130, 130, 130);
    font-size:16px;
    transition:color 1s, position 1s, top 1s;
}

#socials{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    width:80px;
    align-items: center;

}

#logo{
    width:60px;
    height:auto;
}

nav{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    position:fixed;
    width:100%;
    margin:0px 0px;
    background-color:#f1f1f1;
    z-index:1;
}

#menu-btn{
    border:none;
    display:none;
}

#menu-drop{
    position:absolute;
    display:none;
    top:60px;
    right:70px;
    text-align: end;
    background-color: #f1f1f1;
    padding:20px 30px;
    border-radius: 0px 0px 10px 10px;

}

.drop-option{
    z-index:1;
    display:block;
    text-decoration: none;
    color:inherit;
    transition:color 1s, position 1s, top 1s, border-radius 1s;
    margin-bottom:8px;
}

i:hover, .drop-option:hover{
    color:#1EA3DC;
    position:relative;
    top:-2px;

}

.drop-option:hover{
    border:2px solid #1EA3DC;
    border-radius: 3px;
}


/* @media screen and (max-width:600px){
    #nav-links{
        display:none;
    }
    #socials{
        display:none;
    }
} */

/* Hero Section */

.hero-title{
    position:relative;
    animation-name:fade;
    animation-duration: 3s;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
    animation-fill-mode: forwards;
    padding:50px;
}

@keyframes fade{
    from{top:0px; opacity:0;}
    to{
        top:20px;
        opacity:1;
    }
}

.hero-title h1{
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    width:50%;
}
.hero-title #name{
    font-weight: 600;
    color:#7a7a7a;
    font-size:24px;
    animation-name:color-change;
    animation-duration:4s;
    animation-iteration-count: infinite;
}

#location i{
    animation-name:none;
    color:#828282;

}

#location h1{
    display:inline;
    font-size: 12px;
    margin-left:4px;
    color:#828282;
}

#hero{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    height:550px;
}

#hero-background{
    width:100%;
    height:auto;
    margin:0px 0px;
    z-index:-1;
    position:absolute;
}

#center-photo{
    width:30%;
    transition: transform 1s, filter 1s;
}

@keyframes get-big{
    0%{opacity: 0;}
    100%{opacity:1;}
}

#center-photo:hover{
    transform:scale(1.05);
    filter:drop-shadow(0 0 7px rgb(30, 163, 220,0.3));  
}

#left-info, #right-info{
    width:30%;
}

.card{
    background-image: url("../assets/dot.svg");
    background-position: center;
    background-size: cover;
    width:200px;
    height:200px;
    text-align: center;
    display:flex;
    flex-direction:column;
    justify-content: center;
    position:absolute;
    padding:1.5%;
    transition:transform 1s, filter 1s;
}

.card-title{
    margin:0px 0px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
}

.card-info{
    font-size:13px;
    padding:0px 25px;
}

/* Glow Effect */

/* Dot Placement */
#dot1, #dot2, #dot3{ 
    animation-name:slide-in-left;
    animation-duration:3s;
    animation-fill-mode: forwards;
}
@keyframes slide-in-left{
    0%{left:0%; opacity:0;}
    100%{}
}

#dot1{
    top:235px;
    left:2%;
}
#dot2{
    top:385px;
    left: 17%;
}
#dot3{
    top:535px;
    left:2%;
}



#dot4{
    top:235px;
    right:2%;
}
#dot5{
    top:385px;
    right:17%;
}
#dot6{
    top:535px;
    right:2%;
}

#dot4, #dot5, #dot6{ 
    animation-name:slide-in-right;
    animation-duration:3s;
    animation-fill-mode:backwards;
}

@keyframes slide-in-right{
    0%{right:0%; opacity:0;}
    100%{}
}

/* Projects */
/* Gallery Images*/
.column{
    width:35%;
    padding:10px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.row{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width:70%;
    margin:auto;
}

.column img{
    width:100%;
    height:auto;
    padding:10px;
    border-radius:17px;
    transition: transform 2s, filter 1s;
}



/* Gallery Text */
.category{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom:60px;

}

.category-name, .section-name{
    text-align: center;
}

.section-name{
    animation-name:color-change;
    animation-duration:4s;
    animation-iteration-count: infinite;
}

.category-name{ margin-top:50px;}

.category-name i{
    margin-right: 10px;
    width:15px;
}

.blue-btn{
    text-decoration: none;
    color:#828282;
    font-weight: 600;
    background-color: rgb(30, 163, 220,0.2);
    padding:10px 14px;
    border-radius: 30px;
    transition: transform 2s, filter 1s, color 2s;
    margin:15px auto;
}

.blue-btn:hover{ color:#121212;}

.photo-grid{ margin-bottom:50px;}

/* Projects */

.project-group{
    display:flex;
    flex-direction:row;
    width:80%;
    justify-content: space-around;
    align-items: flex-start;
    margin:auto;
}

.project{
    margin:10px;
    background-color:rgb(241,241,241,0.5) ;
    width:30%;
    transition:transform 2s;
    border-radius: 0px 0px 10px 10px;
}

.project img{
    width:100%;
    position: relative;
    height: auto;
    border-radius: 10px;
    margin-bottom:-7px;
}

.overlay{
    padding:5%;
}

.project:hover{
    transform: scale(1.05);
}

.project-text{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.title, .language{
    margin:4.5px;
}

.language{
   font-size: 14px;
   color:#828282;
}

.language i, .blue-btn i{ 
    margin-right: 8px;
    font-size: 14px;
}

.project-des{
    margin-top:5px;
    margin-bottom:5px;
}


/* Motivation and timeline */
.banner{
    background-image: url("../assets/banner.svg");
    background-size: 130%;
    background-position: center;
    border-radius: 20px 20px 0px 0px;
}

.category-name2{
    text-align: center;
    padding:20px;
    margin:0px;
    color:white;
}

.category-name2 i{ color:white; font-size:18px; margin-right:5px;}

.category2{
    display:flex;
    flex-direction: row;
    margin:auto;
    width:80%;
    justify-content: space-around;
}

.left-timeline, .right-timeline{
    width:45%;
}

.timeline{
    background-color:rgb(241,241,241,0.7);
    padding:30px;
    border-radius:0px 0px 10px 10px;
    display:flex;
    flex-direction: row;
}

.dot{
    width:14px;
    height: 14px;
    background-color:#828282;
    border-radius: 7px;
    opacity:0.4;
    margin:auto;
}

.line{
    height:40%;
    width:2px;
    background-color:#828282;
    opacity:0.4;
    margin:auto;
}

#line2{
    height: 40%;
    width:2px;
    background-color:#828282;
    opacity:0.4;
    margin:auto;
}

.lines{width:10%;
    margin-right:10px;  
}

.event h4, .event p{
    margin:0px;
}

.event{
    margin-bottom:25px;
    margin-top:-5px;
    margin-bottom:10px;
    background-color:rgb(130, 130, 130,0.07);
    padding:9px;
    border-radius:10px;
}

.event h4{ 
    font-size:13px;
    font-weight: 300;}

.event p{ 
    color:black;
    font-weight: 500;}

.event li{ 
    list-style:circle;
    font-size:16px;
    font-weight: 300;
}

.event ul{ margin:5px 0px;}

/* Achievements */
.item-box{
    display:flex;
    flex-direction: row;
    align-items: center;
}

.item-info h4, .item-info p{
    margin:0px;
}

.item-info h4{
    font-weight:300;
    font-size:16px;
}

.item-info p{
    font-weight: 500;
    color:black;
}

.item-box i{
    width:35px;
    height: 35px;
    color:black;
    align-self: flex-start;
    padding:7px;
}

.item-box{
    margin-bottom:8px;
    background-color:rgb(130, 130, 130,0.07);
    padding:5px;
    border-radius: 10px;
}

/* Experience */

.mySlides {
    display: none;
    background-color: #efefef;
    width:80%;
    border-radius:10px;
    margin:0px auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;

  padding: 16px;
  color: #5570FA;
  font-weight: bold;
  font-size: 36px;
  transition: 0.6s ease;
  border-radius: 3px;
  user-select: none;
  transition: background-color 2s;

}

/* Position the "next button" to the right */
.next {
  border-radius: 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #5570FA;
  color:#efefef;
}

/* Number text (1/3 etc) */
.numbertext {
  color: black;
  font-size: 12px;
  padding: 2% 5% 1% 5%;
}

/* The dots/bullets/indicators */
.slide-dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #1EA3DC;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.company-info{
  display: flex;
  justify-content: space-between;
  padding:0px;
  padding:0px 5% 3% 5%;
}

.company-text h4{
    margin:0px;
}

.company-text p{
    margin:5px 0px;
}

.company-text{
    padding-right:20px;
}

.company-photo{
    width:15%;
    height:auto;
    border-radius:50%;
    padding:15px;
    background-color:rgb(130, 130, 130,0.07);
}

#experience{
    display:flex;
    
}


@media screen and (max-width: 1500px) and (min-width: 1100px){
    #dot2{ left:15%;}

    .card{
        padding:0.5%;
    }

    #dot5{ right:15%;}
}

@media screen and (max-width: 1100px) and (min-width: 750px){
    #dot2{
        top:455px;
    }
    #dot3{
        top:675px;
    }
    #dot1, #dot2, #dot3{left:8%; }

    #dot5{
        top:445px;
    }

    #dot6{
        top:675px;
    }

    #dot4, #dot5, #dot6{right:8%;}
    #nav-links, #socials{ display:none;}

    #center-photo,#hero-background{
        position:absolute;
        top:380px;
    } 
    
    #menu-btn{ 
        display:block;
        position: relative;
        right: -100px;
    }

    #logo{ 
        width:75px;
        margin: 7px;
        position: relative;
        left: 22.8%;
    }

    .hero-title{
        padding-top: 80px;
    }

    .menu-icon{ font-size:35px;}
}

@media screen and (max-width: 750px){
    #name{
        font-size: 40px;
    }
}

/* Glow Effect */

.card:hover, .blue-btn:hover, .column img:hover{
    transform:scale(1.05);
    filter:drop-shadow(0 0 7px rgb(30, 163, 220,0.3));  
}

@keyframes color-change{
    0%{ color:#1EA3DC;}
    50%{color:#828282;}
    100%{color:#1EA3DC;}
}






